.profile__username {
    font-size: 42px;
    line-height: 1.14;
    margin: 0;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

@media screen and (max-width: 944px) {
    .profile__username {
        max-width: 240px;
        font-size: 30px;
    }
}

@media screen and (max-width: 621px) {
    .profile__username {
        font-size: 27px;
        line-height: 1.21;
    }
}