.header__line {
    margin: 41px 0 0 0;
    background-image: url(../../../images/header/header__line.svg);
    width: 880px;
    height: 1px;
}

@media screen and (max-width: 944px) {
    .header__line {
        max-width: 100vw;
    }
}

@media screen and (max-width: 621px) {
    .header__line {
        margin: 31px 0 0 0;
    }
}